body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    font-size: 30px;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    padding: 0 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.main {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding: 30px 0;
    font-size: 25px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    
}

.temple-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 300px;
    padding: 20px;
    text-align: center;
}

.temple-card img {
    width: 100%;
    border-radius: 5px;
}

figure {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

figcaption {
    text-align: center;
    padding: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
}

.menu-button {
    display: none;
}


@media (max-width: 600px) {
    .menu-button {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        border: none;
        background: none;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: fixed;
        background-color: #333;
        top: 60px;
        left: 0;
    }

    nav ul.is-active {
        display: flex;
    }

    nav ul li {
        text-align: center;
        padding: 15px;
    }

    nav ul li a {
        font-size: 24px;
        color: white;
        text-decoration: none;
    }

    main {
        grid-template-columns: 1fr;
    }

    figure {
        margin: 0;
        padding: 5px 0;
    }

    footer {
        position: relative; 
        padding: 5px 20px;
        font-size: 16px;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.temple-card img {
    opacity: 0; 
    animation: fade 5s forwards;
}
